<!-- <img *ngIf="isLoading" src="assets/Loading.gif" class="loading"> -->
<div *ngIf="isCrafting"  class="busyCrafting"><p >Busy Crafting...</p></div>


<div class="CraftingItem" *ngFor="let recipe of listOfRecipes">
    <div class="CraftingItemDetails">
        <img class="CraftingImage" [ngSrc]="recipe.image" width="50" height="50" priority/>

   
        <div >
            <p class="RecipeName">{{recipe.title}}</p>
           

            <ul class="ingredientsneeded">
                <li *ngFor="let ingredient of recipe.ingredients">
                    <span>{{ingredient.amountNeeded}} x </span>
                    <span>{{ingredient.inventoryId.title}}</span> 
                    <span> ({{ingredient.inventoryId.amount}} available)</span>
                    
    
                </li>
   
    <!-- <p>Current Amount Crafted: {{recipe.amount}}</p> -->
            </ul>
        </div>
        
    </div>
    
    <button (click)="craftRecipe(recipe._id!)" [disabled]="isCrafting" *ngIf="recipe.craftable" class="CraftingButton">Craft!</button>
    <button *ngIf="!recipe.craftable" class="CraftingButtonBad">Missing Ingreients!</button>

</div>