<div class="BackGround">
    <app-navigation></app-navigation>


    <div class="background-Image ">

        <div class="Intro">
            <h2>Welcome</h2>
            <h1 class="hero ">To The World </h1>
            <h1 class="hero ">of WowCraft </h1>
        </div>

        <div class="readMore subtle-animation">
            <h2>Read More</h2>
            <h2>↓</h2>

        </div>
    </div>

    <div class="Background-Rest">

        <div class="spacer">
            <h1>What you can do on WowCraft !</h1>
        </div>

        <div class="ThreeSections">
            <div class="category">
                <div class="ImageHere">

                </div>
                <div class="textHere">
                    <h1>Inventory</h1>
                    <p>
                        Welcome to your inventory,
                        <br/>
                        here you can look at and manage all your items.
                        <br/>
                        Feel free to update the amount of stock you have
                        
                    </p>
            
                </div>
            </div>

            <div class="category">
                <div class="ImageHereTwo">

                </div>
                <div class="textHere">
                    <h1>Category</h1>
                    <p>
                        Here we have our crafting,
                        <br/>
                         based on the stock you have available at your designated locations,
                        <br/>
                         you are able to craft some cool recipes that we have available !
            
                    </p>
                   

                </div>
            </div>

            <div class="category">
                <div class="ImageHereThree">

                </div>
                <div class="textHere">
                    <h1>Profile</h1>
                    <p>
                        What more is there to say ?
                        <br/>
                        This is your personal space if you will,
                        <br/>
                        some stats about you, and also what you have achieved !
            
                    </p>
             
 
                </div>
            </div>
        </div>

        <!-- <div class="sectionOne">

            <div class="OneOne">
                <div class="displayOne">
                    <div class="displayImage">

                    </div>
                    <div class="displayText">
                        <h1>Inventory</h1>
                        <h2>hehe</h2>
                    </div>
                </div>
            </div>
        </div>



        <div class="sectionTwo">
            <div class="OneRight">
                <div class="displayOne">
                    <div class="displayImageTwo">

                    </div>
                    <div class="displayText">
                        <h1>Crafting</h1>
                        <h2>hehe</h2>
                    </div>
                </div>
            </div>
        </div>



        <div class="sectionThree">
            <div class="OneOne">
                <div class="displayOne">
                    <div class="displayImageThree">

                    </div>
                    <div class="displayText">
                        <h1>Profile</h1>
                        <h2>hehe</h2>
                    </div>
                </div>
            </div>
        </div> -->


    </div>

    <!-- <div class="MainBlock">

        <div class="HeroText">
            <h2>Welcome to</h2>
            <h1>WoW Craft</h1>

            <p>This is a crafting based application based on the massive multiplayer  
                <br/>
                online gamecalled world of warcraft. Here you are able
                <br/>
                
                 to craft items and manage your materials within
                <br/>

                different locations across Azeroth.</p>
        </div>

        <div class="RightImages">
                
        </div>

    </div> -->



</div>