<div class="BackGround">



   
    <div class="MainBlock">

        <div class="HeroText">
            <h2>Welcome to</h2>
            <h1>WoW Craft</h1>

            <p>This is a crafting based application based on the massive multiplayer  
                <br/>
                online gamecalled world of warcraft. Here you are able
                <br/>
                
                 to craft items and manage your materials within
                <br/>

                different locations across Azeroth.</p>
        </div>

        <div class="RightImages">

        </div>

    </div>

    <div class="DecorOne">

    </div>

</div>
