
.loading {
    margin: auto;
    width: 100px;
    height: 100px;
}

.busyCrafting {
    width: 250px;
    height: 50px;
    background-color: #17c52eb6;
    border-radius: 15px;
    margin: auto;
    border: 1px solid black;
}

.CraftingItem {
    margin-left: 50px;
    width: 400px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;

    float: left;
    margin-top: 20px;
}

.CraftingItemDetails {
    margin: auto;
    width: 95%;
    height: 70%;
    display: flex;
}
.CraftingImage {
    background-size: cover;
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

.RecipeName {
    margin-left: 15px;
    max-width: 260px;
    font-family: 'Alkatra', cursive;

}

.ingredientsneeded {
    margin-left: 25px;
    color: white;
}

.CraftingButton {
    width: 95%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    border: 0.1px solid #E89411;
    padding-top: 5px;
    color: white;
    font-family: 'Alkatra', cursive;

}

.CraftingButton:hover {
    background: #FEE62B;
    color: black;
}

.CraftingButtonBad {
    width: 95%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;

    border: 0.1px solid red;
    padding-top: 5px;
    color: white;
    font-family: 'Alkatra', cursive;

}

.CraftingButtonBad:hover {
    background: #cc2b2b;
}


p {
    text-align: center;
    font-size: 18px;
    color: white;
    padding-top: 10px;
}
