<div class="BackGround">

<div class="MapSectioning">
    <div class="MapHere">
        <a > <div class="Horde"></div> </a>
        <a > <div class="Alliance"></div> </a>
        <a > <div class="ThunderBluff"></div> </a>
       

    </div>
    <div class="IllustrationTwo">
        

    </div>
</div>

<div class="StockSection"   >

    <div class="LocationNav">
        <div (click)="LocationOne()" class="LocationOne"><h4>Ogrimmar</h4></div>
        <div (click)="LocationTwo()" class="LocationTwo"><h4>StormWind</h4></div>
        <div (click)="LocationThree()" class="LocationThree"><h4>Thunder Bluff</h4></div>

    </div>
    <!-- <iframe *ngIf="loading" src="https://giphy.com/embed/xUA7b3JLpn1XiBYcqk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/imoji-world-of-warcraft-xUA7b3JLpn1XiBYcqk">via GIPHY</a></p> -->
    <!-- <div *ngIf="Ogrimmar; else ThunderBluff" class="ItemSection"> -->
    <!-- <div *ngIf="Ogrimmar || StormWind || ThunderBluff" class="ItemSection">
        <h1>ogrimmar</h1>
    </div> -->
    
    <div *ngIf="Ogrimmar" class="ItemSection">
        
        <app-item></app-item>

    </div>
    <div *ngIf="Stormwind" class="ItemSection">
        <app-itemtwo></app-itemtwo>

    </div>
    <div *ngIf="ThunderBluff" class="ItemSection">
        <app-itemthree></app-itemthree>

    </div>
<!-- 
    <ng-template #Ogrimmar>
        <h1>ogrimmar</h1>
    </ng-template>


    <ng-template #StormWind>
       
        <h1>StormWind</h1>   
    </ng-template>

    <ng-template #ThunderBluff>
      
        <h1>ThunderBluff</h1>

    </ng-template> -->

    
    
 <!-- <app-itemtwo></app-itemtwo> -->
</div>

</div>