<div class="BackGround">

<div class="MapSectioning">
    <div class="MapHere">
        <a > <div class="Horde"></div> </a>
        <a > <div class="Alliance"></div> </a>
        <a > <div class="ThunderBluff"></div> </a>
       

    </div>
    <div class="IllustrationTwo">
        

    </div>
</div>

<div class="StockSection" >

    <div class="LocationNav">
        <div class="LocationOne"><h4>Ogrimmar</h4></div>
        <div class="LocationTwo"><h4>Alliance</h4></div>
        <div class="LocationThree"><h4>Thunder Bluff</h4></div>

    </div>

    <div class="ItemSection">
        <!-- loop throyugh list and return items-->
        <!-- <app-item ></app-item> -->
        <app-item ></app-item>
        
        
    
    </div>

    

</div>

</div>