<div class="BackGround">

 

    <div class="loginSection">

        
        
        <div class="Loggin">
            <h1 class="loginText">Login</h1>
            <form class="loginForm">
           

                <mat-form-field  class="Username">
                    <mat-label>Username</mat-label>
                    <input [formControl]="username" matInput placeholder="Ex. Jeff" type="text" >
                  </mat-form-field>

                 
                  
                  <mat-form-field class="Proffession">
                    <mat-label>Password</mat-label>
                    <input [formControl]="password" matInput placeholder="Ex. Jeff@123" type="text" >
                  </mat-form-field>

                  <button (click)="CheckVerification()" class="VerifyButton">Verify!</button>
                 
            </form>
            <h2 class="ToRegister" routerLink="/Register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</h2>
            <div *ngIf="notVerified" class="usernameModal">{{ errorMessage }}</div> 
        </div>


        <div class="ExploreSection">
            <a routerLink="/Landing">
                <button class="explore"> Explore </button>
            </a>
        </div>
       

    </div>


</div>
