.loginSection {
    width: 50%;
    height: 79vh;
    margin: auto;
    margin-top: 150px;
    position: relative;
}

.loginText {
    text-align: center;
    color: white;
    padding-top: 25px;
    font-family: 'lifeCraft', cursive;
    font-size: 35px;
    color: #e8961198;

}

.Loggin {
    width: 50%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.438);
    margin: auto;
    text-align: center;
    border-radius: 15px;
}

.Username {
    width: 80%;
    margin: auto;
    font-family: 'lifeCraft', cursive;

}

.Proffession {
    width: 80%;
}

.Password {
    width: 80%;
}

.VerifyButton {
    width: 300px;
    margin: auto;
    height: 50px;
    margin-top: 35px;
    border-radius: 5px;
    background-color: rgba(61, 61, 59, 0.664);
    border: none;
    font-family: 'lifeCraft', cursive;
    font-size: 25px;
    cursor: pointer;

}

.VerifyButton:hover {
    background-color: #e8961198;
    transition: ease-in-out 0.3s;
    color: white;
}

.ToRegister {
    color: #e8961198;
    padding-top: 20px;
    font-family: 'folk', cursive;
    font-size: 20px;
    cursor: pointer;
}

.ToRegister:hover {
    text-decoration: underline;
}

.usernameModal {
    margin: auto;
    width: 300px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.507);
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
}

.ExploreSection {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.explore {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px solid white;
    font-family: 'Alkatra', cursive;
    color: white;
}

.explore:hover {
    background-color: #e8961198;
}


h2 {
    color: white;
    text-align: center;

}