<div class="BackGround">

    <div class="loginSection">

        <div class="Loggin">
            <h1 class="loginText">Login</h1>
            <form class="loginForm">
                <!-- <input placeholder="name">
                <input placeholder="proffesion">
                <input placeholder="password"> -->

                <mat-form-field  class="Username">
                    <mat-label>Username</mat-label>
                    <input  matInput placeholder="Ex. Jeff" type="text" >
                  </mat-form-field>
                  
                  <mat-form-field class="Proffession">
                    <mat-label>Password</mat-label>
                    <input  matInput placeholder="Ex. Jeff@123" type="text" >
                  </mat-form-field>

                  <mat-form-field class="Password">
                    <mat-label>Password</mat-label>
                    <input  matInput placeholder="Ex. Alchemist" type="text" >
                  </mat-form-field>

                  <button  class="VerifyButton">Verify!</button>
                  
            </form>
        </div>

    </div>


</div>
