
    <div *ngFor="let item of items" class="Item">
        <div class="ItemImage"></div>
        <h3>{{item.title}}</h3>
        <p>hehe</p>
        <div class="Quantity">
            <div class="Less">-</div>
            <div class="Amount">{{item.amount}}</div>
            <div class="More">+</div>
        </div>
        <div class="updateButton">
            <p>Update !</p>
        </div>
    </div>





<!--  
<div class="item">
    <div class="item_image">
        <img class="item_image_img" src="../../assets/potion.webp" alt="">
    </div>
    <h4 class="item_heading">Item Name</h4>
    <p class="item_description">Item description goes here</p>
    <div class="item_buttonsContainer">
        <div class="item_buttonsContainer_button"> &lsaquo;</div>
        <p class="item_buttonsContainer_amount">12</p>
        <div class="item_buttonsContainer_button"> &rsaquo;</div>
    </div>
    <div class="item_updateButton">
        
    </div>
</div> -->