
    <div *ngFor="let item of items" class="Item">
        <div class="ItemImage">{{item.image}}</div>
        <!-- <img class="ItemImage" [ngSrc]="item.image"> -->

        <h3>{{item.title}}</h3>
        <!-- <p>{{item.description}}</p> -->
        <div class="Quantity">
            <div class="Less">-</div>
            <div class="Amount">{{item.amount}}</div>
            <div class="More">+</div>
        </div>
        <div class="updateButton">
            <p>Update !</p>
        </div>
    </div>




