<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="200"
    src="../assets/LOGO.png"
  />
  
    <div class="spacer"></div>
    <a routerLink="/Landing" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    
    <a routerLink="/Map" routerLinkActive="active" ariaCurrentWhenActive="page">Map</a>
    
    <a routerLink="/Crafting" routerLinkActive="active" ariaCurrentWhenActive="page">Crafting</a>

    <a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>


</div> -->



<router-outlet></router-outlet>
