.InventoryInfo {
    width: 70%;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.InfoImage {
    width: 160px;
    height: 200px;
    background-image: url(../../assets/Three.png);
    background-size: contain;
    margin: auto;
}

.InfoTitle {
    font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: white;
}

.InfoDescription {
    font-family: 'Alkatra', cursive;
    font-size: 20px;
    color: white;
}

.hehe {
    height: 500px;
}

.CraftedItemSection {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
}

.CraftedItem {
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    float: left;
    margin: 15px;
    color: white;
}

.CraftingImage {
    padding-top: 10px;
}