<div class="toolbar" role="banner">
    <img
      width="200"
      src="../assets/LOGO.png"
    />
    
      <div class="spacer"></div>
      <a routerLink="/Landing" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      
      <a routerLink="/Map" routerLinkActive="active Current" ariaCurrentWhenActive="page">Inventory</a>
      
      <a routerLink="/Crafting" routerLinkActive="active Current" ariaCurrentWhenActive="page">Crafting</a>
  
      <a routerLink="/Profile" routerLinkActive="active Current" ariaCurrentWhenActive="page">Profile</a>
  

      <a appAuthOnly [isVerified]="!isVerified" routerLink="/Login" routerLinkActive="active Current" ariaCurrentWhenActive="page">Login</a>

      <a appAuthOnly [isVerified]="isVerified" routerLink="/Login" routerLinkActive="active Current" ariaCurrentWhenActive="page" (click)="clear()">Logout</a>

      
      
  
  </div>