<div class="toolbar" role="banner">
    <img
      width="200"
      src="../assets/LOGO.png"
    />
    

      <div class="spacer"></div>
      <a routerLink="/Landing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/Map" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inventory</a>
      <a routerLink="/Crafting" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Crafting</a>
      <a routerLink="/Profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
    

      <a appAuthOnly [isVerified]="!isVerified" routerLink="/Login" routerLinkActive="active Current" ariaCurrentWhenActive="page">Login</a>

      <a appAuthOnly [isVerified]="isVerified" routerLink="/Login" routerLinkActive="active Current" ariaCurrentWhenActive="page" (click)="clear()">Logout</a>

      
      
  
  </div>