<div class="toolbar" role="banner">
    <img
      width="200"
      src="../assets/LOGO.png"
    />
    
      <div class="spacer"></div>
      <a routerLink="/Landing" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <!-- <div class="Page"><a routerLink="/Page" routerLinkActive="active" ariaCurrentWhenActive="page"> Page </a></div> -->
      
      <a routerLink="/Map" routerLinkActive="active Current" ariaCurrentWhenActive="page">Map</a>
      
      <a routerLink="/Crafting" routerLinkActive="active Current" ariaCurrentWhenActive="page">Crafting</a>
  
      <a routerLink="/Login" routerLinkActive="active Current" ariaCurrentWhenActive="page">Logout</a>
  
  
  </div>