<div class="BackGround">
    <app-navigation></app-navigation>


    <div class="LocationNav">
        <div (click)="LocationOne()" class="LocationOne">
            <h4>Ogrimmar</h4>
        </div>
        <div (click)="LocationTwo()" class="LocationTwo">
            <h4>StormWind</h4>
        </div>
        <div (click)="LocationThree()" class="LocationThree">
            <h4>Thunder Bluff</h4>
        </div>

    </div>
    <div class="CraftingPageSection">



        <div class="Recipes">



            <div *ngIf="Ogrimmar">
                <app-recipe></app-recipe>
            </div>

            <div *ngIf="Stormwind">
                <app-recipetwo></app-recipetwo>
            </div>

            <div *ngIf="ThunderBluff">
                <app-recipethree></app-recipethree>
            </div>



        </div>


        <div class="Decor5">

        </div>


    </div>



</div>