<div class="BackGround">
    <app-navigation></app-navigation>


    <div appAuthOnly [isVerified]="isVerified" class="InventoryInfo">

        <div class="InfoImage">

        </div>
        <h1 class="InfoTitle">Crafting</h1>
        <h2 class="InfoDescription">Here we have our crafting,
            <br/>
             based on the stock you have available at your designated locations,
            <br/>
             you are able to craft some cool recipes that we have available !

        </h2>
    </div>
    

    <div appAuthOnly [isVerified]="!isVerified" class="loginFirst">

        <div class="warning"></div>
        <h1 >So you want to get Crafting ? </h1>
        <h2 >before you become a Master Crafter, We need to verify who you are</h2>
        <h2 > Click here to verify yourself !</h2>
        <a routerLink="/Login">
            <button class="verify"> Login </button>
        </a>


    </div>


    <div appAuthOnly [isVerified]="isVerified" class="LocationNav"> 
        <div (click)="LocationOne()" class="LocationOne" [class.active-location]="activeLocation === 'Ogrimmar'">
            <h4>Ogrimmar</h4>
        </div>
        <div (click)="LocationTwo()" class="LocationTwo" [class.active-location]="activeLocation === 'Stormwind'">
            <h4>StormWind</h4>
        </div>
        <div (click)="LocationThree()" class="LocationThree" [class.active-location]="activeLocation === 'Thunder Bluff'">
            <h4>Thunder Bluff</h4>
        </div>

    </div>
    <div appAuthOnly [isVerified]="isVerified" class="CraftingPageSection">



        <div class="Recipes">
            <img *ngIf="isLoading" src="assets/Loading.gif" class="loading">


            <div *ngIf="Ogrimmar">
                <app-recipe></app-recipe>
            </div>

            <div *ngIf="Stormwind">
                <app-recipetwo></app-recipetwo>
            </div>

            <div *ngIf="ThunderBluff">
                <app-recipethree></app-recipethree>
            </div>



        </div>


        <div class="Decor5">

        </div>


    </div>



</div>