<div class="BackGround">

    <div class="CraftingPageSection">

        <div class="Recipes">
            <h1> Have a look at all out available recipes here!</h1>

            <div class="craftingItemSection">

                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                   
                        <p>Potion of lesser health</p>
                  
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>
                <div class="CraftingItem">
                    <div class="CraftingImage">

                    </div>
                    
                        <p>Potion of lesser health</p>
                    
                </div>

            </div>
        </div>

        <div class="CraftingSection">
            <div class="CraftingBlock">

                <div class="CraftingItemOne">
                    <div class="CraftingitemImage">

                    </div>
                    <p>Vial</p>
                </div>

                <div class="TextHere">+</div>

                <div class="CraftingItemOne">
                    <div class="CraftingitemImage">

                    </div>
                    <p>SilverLeaf</p>
                </div>

                <div class="TextHere">=</div>

                <div class="CraftingItemOne">
                    <div class="CraftingitemImage">

                    </div>
                    <p>Potion of lesser health</p>
                </div>
            </div>
            <div class="CraftingButton">
                <p>Craft Potion</p>
            </div>
        </div>
            <div class="Decor5">

            </div>
       

    </div>


</div>