* {
    padding: 0;
    margin: 0;
}




//SCROLLBAR//

    /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    
    background-color: rgba(2, 2, 2, 0.651);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    // background: rgb(157, 204, 28);
    background: #e89611bb;
    // background-color: #e89611bb;

    border-radius: 10px;
  }

//SCROLLBAR//

@font-face {
  font-family: 'LifeCraft';
  src: url('./assets/fonts/LifeCraft_Font.ttf') format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'Folk';
  src: url('./assets/fonts/folkard.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Morph';
  src: url('./assets/fonts/MORPHEUS.ttf') format('truetype');
  font-weight: normal;
}



html {
    scroll-behavior: smooth;
}

.BackGround { 
    z-index: 0;
    background-color: #212121;
    padding-top: 60px;
    background-attachment: fixed;
}

html, body { 
  height: 100%;
 }

body { 
  margin: 0;
  font-family: 'LifeFont', sans-serif;
  font-family: 'folkard', sans-serif;
  font-family: 'Morph', sans-serif;
}
